.info-box {
    background-color: rgba(173, 216, 230, 0.409);
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
}

.info-box p{
    text-align: justify;
}

.info-box h2 {
    text-align: center;
}

.text-box {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #d4d4d4;    ;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 1.6;
}

