.info-box {
    background-color: #f0f8ff;
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
}

.info-box p{
    text-align: justify;
}

.info-box h2 {
    text-align: center;
}

