.graph-container-pie {
    display: flex;
    flex-direction: column;
    background-color: rgba(173, 216, 230, 0.409);
    border-radius: 10px;
    border: 2px solid lightgray;
    padding: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    margin: 0;
    align-items: center;
    width: 40%;
}

.graph-container-pie button {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.graph-container-pie button:hover {
    cursor: pointer;
    transform: scale(1.20);
}

.pie-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.legend-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
    height: 100%;
}

.pie-chart-container {
    width: 50%;
    height: 300px;
}